@use "variables" as *;
@use "utilities" as *;

.btn {
  @include flex-row(center, center, 0);
  color: $text-color-primary;
  border-radius: 9999px;
  padding: 0.75rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }

  &__icon {
    width: 1.2rem;
  }
  &__ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px; /* Fixed width for consistent circle */
    height: 120px; /* Fixed height for consistent circle */
    margin-left: -60px; /* Half width for centering */
    margin-top: -60px; /* Half height for centering */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%; /* Perfect circle */

    transform: translate(-50%, -50%) scale(0); /* Center the ripple at click position */
    animation: ripple 0.8s cubic-bezier(0.2, 0.2, 0.2, 1) 0ms;
    pointer-events: none;
  }

  @keyframes ripple {
    0% {
      transform: scale(0.2);
      opacity: 0.7;
    }
    50% {
      transform: scale(0.4);
      opacity: 0.1;
    }
    65% {
      transform: scale(0.6);
      opacity: 0;
    }
    75% {
      transform: scale(0.6);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}

.section-container {
  @include flex-column(center, start, 1rem);
  width: 100%;
}

.app {
  @include flex-column(stretch, start, 0);
  width: 100%;
}

.header {
  @include flex-row(center, center, 0);
  width: 100%;
  background-color: $bg-color-primary;
  color: $text-color-primary;
  padding: 0.5rem 2rem;
  top: 0;
  z-index: 1;
  position: sticky;

  @include respond-to($breakpoint-md) {
    justify-content: start;
  }

  &__backward {
    position: absolute;
    left: 0;
    max-width: 3.688rem;
    width: 100%;
    button {
      width: 100%;
      aspect-ratio: 1/1;
    }
    @include respond-to($breakpoint-lg) {
      position: static;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__logo {
    width: 6.25rem;
    height: 3rem;
  }
}

.search-form {
  flex-grow: 0;
  width: 100%;
  max-width: 85%;
  padding: 0 2rem;

  @include respond-to($breakpoint-lg) {
    flex-grow: 0;
    max-width: 33%;
    flex-basis: 33%;
  }

  &__label {
    @include flex-row(center, space-between, 0.5rem);
    border: 1px solid $accent-color;
    background-color: $bg-color-primary;
    padding: 2px 4px;
    border-radius: 4px;
  }

  &__input {
    color: $text-color-primary;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    margin-left: 8px;
    line-height: 1.1876rem;
    padding: 6px 0 7px;
  }
}

.movie-list {
  flex-grow: 0;
  width: 100%;
  max-width: 85%;
  @include flex-row(stretch, start, 0);
  padding: 2rem;
  flex-wrap: wrap;
  width: calc(100% + 1rem);
  margin: -8px;
}

.movie {
  width: 100%;
  flex-basis: 100%;
  padding: 0.5rem;
  @include respond-to($breakpoint-lg) {
    flex-basis: 25%;
    width: 25%;
  }
}

.movie-card {
  flex-grow: 0;
  width: 100%;
  flex-basis: 100%;
  @include flex-column(center, start, 0rem);
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden;

  &--skeleton {
    height: 100%;

    .movie-card__above {
      background-color: $bg-color-loading;
    }

    .movie-card__image {
      background: linear-gradient(0deg, #000, transparent);
      animation: skeleton-pulse 1.5s infinite ease-in-out;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1.8s infinite;
      }
    }
    .movie-card__title {
      padding: 1rem;
      overflow: hidden;
      background: linear-gradient(0deg, #000, transparent);
      position: absolute;
      span {
        display: block;
        background-color: $bg-color-secondary;
        height: 1.5rem;
        width: 70%;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0) 100%
          );
          animation: shimmer 1.8s infinite;
        }
      }
    }
    .movie-card__release-year {
      width: 6rem;
      height: 1.5rem;
      background-color: $bg-color-loading;
      border-radius: 4px;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1.8s infinite;
      }
    }
    .movie-card__favorite {
      width: 2.7rem;
      height: 2.7rem;
      background-color: $bg-color-loading;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1.8s infinite;
      }
    }
  }

  &__above {
    width: 100%;
    position: relative;
    overflow: hidden;
    border: none;
    height: 400px;
    background-color: $bg-color-primary;

    &:hover > img {
      transform: scale(1.07);
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      pointer-events: none;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    overflow: clip;
    transition: all 0.5s ease-in-out;
  }

  &__title {
    color: $text-color-primary;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(0deg, #000, transparent);
    transition: all 0.5s ease-in-out;
  }

  &__below {
    width: 100%;
    background-color: $bg-color-primary;
    @include flex-row(center, space-between, 0.5rem);
    padding: 0.5rem;
    border-radius: 0 0 7px 7px;
    box-sizing: border-box;
  }

  &__release-year {
    @include flex-row(center, start, 0.5rem);
    color: $text-color-primary;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-left: 2px;
    margin-bottom: 0.35rem;
    line-height: 1.5;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.movie-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  height: 100vh;
  max-width: 84%;
  margin-top: 1rem;

  &__poster {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 0 2rem;
    @include flex-column(start, start, 1rem);
  }

  &__first-row {
    width: 100%;
    @include flex-row(center, space-between, 0.5rem);
  }

  &__title {
    font-size: 2.4rem;
  }

  &__rating {
    @include flex-row(center, start, 0.2rem);
  }

  &__rating-value {
    @include flex-column(start, center, 0);
  }
  &__rating-score {
    font-size: 1.5rem;
    color: $accent-color;
    & span {
      font-size: 0.7rem;
      color: $text-color-primary;
      opacity: 0.5;
      font-style: italic;
    }
  }

  &__rating-star {
    width: 2.2rem;
    & svg {
      fill: $accent-color;
      font-size: 2.1875rem;
    }
  }

  &__rating-votes {
    font-size: 0.8rem;
  }

  &__second-row {
    width: 100%;
    @include flex-row(center, start, 0);
    font-size: 0.8rem;
    opacity: 0.7;

    span {
      padding: 0 1rem;
      border-right: 2px solid hsla(0, 0%, 100%, 0.5);

      &:last-child {
        border-right: none;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__third-row {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  &__fourth-row {
    width: 100%;
    @include flex-column(start, start, 1rem);
  }

  &__info-row {
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 100%;
  }

  &__info-head {
    font-weight: 700;
    opacity: 1;
  }

  &__info-text {
    opacity: 0.7;
  }
}

.divider {
  width: 100%;
  border: none;
  height: 1.5px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.12);
}

.error {
  width: 100%;
  text-align: center;
  padding: 2rem;
}
