@use "variables";
@use "utilities";

// Main Container
.container {
  border: 0.01rem solid variables.$slate-gray;
  background-color: variables.$dark;
  color: variables.$pale-gray;
  padding: 2.5rem;
  box-sizing: border-box;
  width: 85%;
  max-width: 28.5rem;
  margin: 0 auto;
  border-radius: 1rem;
}

// Form Styles throughout the whole application
input {
  // Input fields in Form 1
  &[type="text"],
  &[type="email"] {
    padding: 0.9rem;
    font-size: 0.75rem;
    background: transparent;
    border-radius: 0.7rem;
    outline: none;
    border: 0.13rem solid variables.$slate-gray;
    color: variables.$pale-gray;

    &:focus {
      border: 0.13rem solid variables.$purpley;
    }
  }

  // Selection group in Form 2
  [type="checkbox"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
  }
}

// General Style for form wrapper (will be assinged to form parental elements,
// the DOM will calculate them to give the total number of steps)
.form-wrapper {
  @include utilities.flex-column(center, start, 0);

  // The modified part of the form-wrapper class, this will be the key for show/hide the steps
  &--hidden {
    display: none;
  }

  // General style of buttons
  &__button {
    background: linear-gradient(
      to bottom,
      variables.$purpley,
      variables.$blue-purple
    );
    color: variables.$pale-gray;
    padding: 0.75rem 2.2rem;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
    display: block;
    font-size: 0.75rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: fit-content;

    &:hover {
      transform: scale(1.05);
    }
  }
}

// Form Step 1 Styles
.form-step1 {
  // Form group, includes submit button
  &__input-fields {
    @include utilities.flex-column(center, center, 2.3rem);
  }

  // Layout for input group
  &__input {
    @include utilities.flex-column(center, center, 1.5rem);
  }

  // Heading of the form
  &__heading {
    display: block;
    width: 100%;
    margin-bottom: 2.4rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  // The input field, includes label
  &__label {
    width: 100%;
    @include utilities.flex-column(stretch, start, 0.5rem);
    margin-top: 0.1rem;
    font-size: 0.78rem;
    color: variables.$cool-gray;
  }
}

// Form Step 2 Styles
.form-step2 {
  // Heading of the form
  &__heading {
    width: 100%;
    margin-bottom: 2.4rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  // Form group, includes submit button
  &__form-section {
    @include utilities.flex-column(center, center, 2.3rem);
  }

  // Selection group
  &__select-group {
    @include utilities.flex-column(stretch, start, 1rem);
  }

  // Selection option
  &__label {
    display: block;
    padding: 0.9rem 0.8rem;
    background: variables.$lunar-gray;
    border-radius: 0.7rem;
    font-size: 0.85rem;
    cursor: pointer;
    color: variables.$cool-gray;
    border: 0.01rem solid variables.$slate-gray;

    // Style if checked
    &--checked {
      background: variables.$purpley;
      color: variables.$pale-gray;
    }
  }

  // Set the style of checkbox to none, so it will not be displayed
  &__select-option {
    appearance: none;
  }
}

// Form Step 3 Styles
.form-step3 {
  // Heading of the form
  &__heading {
    width: 100%;
    margin-bottom: 2.7rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  // Group of displayed info from 2 previous steps
  &__submit-info {
    @include utilities.flex-column(stretch, start, 0.9rem);
  }

  // Summary of the first step (name and email)
  &__s1-summary {
    @include utilities.flex-column(stretch, start, 0.3rem);
  }

  // Summary's item
  &__s1-info {
    color: variables.$cool-gray;
    &--highlight {
      color: variables.$pale-gray;
    }
  }

  // Summary of the second step (selected options)
  &__s2-summary {
    @include utilities.flex-column(stretch, start, 0.5rem);
  }

  // Second step's title (topics
  &__s2-title {
    color: variables.$cool-gray;
  }

  // List of selected topics
  &__s2-list {
    color: variables.$pale-gray;
  }

  // List item
  &__s2-item {
    @include utilities.flex-row(center, start, 0.5rem);
    margin-left: 0.3rem;
  }

  // Button wrapper
  &__button-wrapper {
    @include utilities.flex-row(center, center, 0);
    margin-top: 1.4rem;
  }
}

// Styles for the indicator
.indicator {
  @include utilities.flex-row(center, center, 1.8rem);
  margin-top: 1rem;
  transform: translateX(-40px);

  // Current step, show in text and number
  &__current-step {
    vertical-align: middle;
    left: 0;
    color: variables.$cool-gray;
    font-size: 0.7rem;
  }

  // Step circles
  &__step-circles {
    @include utilities.flex-row(start, center, 1rem);
    width: auto;
  }

  // Circle
  &__circle {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: variables.$slate-gray;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

    // If step is done, this will be the style
    &--active {
      background: variables.$blue-purple;
    }
    // If step is current, this will be the style
    &--current {
      box-shadow: 0 0 0 0.4rem variables.$twilight;
    }
  }
}

// Bullet dot for list
.marker-dot {
  font-size: 2rem;
  margin: 0 0.1rem 0.3rem 0.1rem;
  line-height: 0;
  font-weight: bold;
  align-items: center;
}
