$bg-color-primary: #000000;
$bg-color-secondary: #424242;
$bg-color-loading: #212121;
$text-color-primary: #ffffff;
$accent-color: #f6c700;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
