:root {
  --bg-color: #f5f7ff;
  --btn-color: #0077ff;
  --app-color: #ffffff;
  --stat-bg-color: #f5f7ff;
  --text-highlight-color: #2a3341;
  --text-secondary-color: #697c9b;
  --hyperlink-color: #4b699b;
  --theme-switch-btn: #4b699b;
  --theme-switch-btn-bg: transparent;
  --text-default-color: #697c9b;
  --username-color: #0077ff;
  --text-grayblue-color: #697c9b;
}

body.dark-mode {
  --bg-color: #141d2e;
  --default-text-color: #ffffff;
  --app-color: #1e2b48;
  --stat-bg-color: #141d2e;
  --text-highlight-color: #ffffff;
  --text-default-color: #ffffff;
  --hyperlink-color: #ffffff;
  --theme-switch-btn: #ffffff;
  --text-secondary-color: #ffffff;
}

:root {
  --fs-600: 1.625rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.6875rem;
}
@media screen and (min-width: 35rem) {
  :root {
    --fs-600: 1.625rem;
    --fs-500: 1.375rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.8125rem;
  }
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

.section-container {
  background-color: var(--app-color);
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
.section-container__part-block {
  display: block;
}
@media screen and (min-width: 54rem) {
  .section-container__part-block--shift {
    margin-left: 10.5rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 35rem) {
  .header {
    margin-top: 8.75rem;
  }
}
@media screen and (min-width: 54rem) {
  .header {
    margin-top: 9rem;
  }
}
.header__logo {
  font-size: var(--fs-600);
  font-weight: 700;
  color: var(--text-highlight-color);
}
.header__theme-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--theme-switch-btn-bg);
  font-size: var(--fs-400);
  font-weight: 700;
  color: var(--theme-switch-btn);
  text-transform: uppercase;
  align-self: flex-start;
  letter-spacing: 2.5px;
  border-radius: 3px;
  padding: 0.2rem 0.4rem;
  outline: none;
}
.header__theme-switch:focus-visible {
  outline: 2px solid var(--theme-switch-btn);
}
.header__theme-switch:hover {
  filter: invert(0.6) sepia(2) saturate(100) hue-rotate(180deg) brightness(60%);
}
body.dark-mode .header__theme-switch:hover {
  filter: invert(0.6) sepia(2) saturate(50) hue-rotate(180deg) brightness(90%);
}
.header__theme-switch > span {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/images/icon-moon.svg");
}
body.dark-mode .header__theme-switch > span {
  background-image: url("../assets/images/icon-sun.svg");
}

.app {
  display: flex;
  flex-direction: column;
  margin-top: 2.25rem;
  gap: 1rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  height: 3rem;
  padding: 0.3rem 0.25rem;
}
.search-bar__icon {
  position: relative;
  height: 20px;
  width: 20px;
  left: 0.8rem;
}
.search-bar__input {
  flex-grow: 2;
  border-radius: 15px;
  line-height: 1.5625rem;
  height: 100%;
  font-size: var(--fs-200);
  font-weight: 400;
  color: var(--text-secondary-color);
}
.search-bar__input::placeholder {
  font-size: var(--fs-200);
  font-weight: 400;
  color: var(--text-secondary-color);
}
.search-bar__error {
  color: red;
  font-size: 11px;
  text-align: right;
}
.search-bar__error--hidden {
  display: none;
}
.search-bar__submit {
  position: relative;
  background-color: var(--btn-color);
  height: 2.4rem;
  width: 5.25rem;
  border-radius: 10px;
  font-size: var(--fs-400);
  font-weight: 700;
  color: white;
}

.basic-info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  gap: 1rem;
  padding: 2rem 1.5rem 0 1.5rem;
}
.basic-info__avatar > img {
  border-radius: 99999px;
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 35rem) {
  .basic-info__avatar > img {
    width: 117px;
    height: 117px;
  }
}
.basic-info__summary {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
}
@media screen and (min-width: 35rem) {
  .basic-info__summary {
    margin-top: 1rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 0;
  }
}
.basic-info__summary--primary {
  position: relative;
  bottom: 0.3rem;
  line-height: 2.06rem;
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--text-highlight-color);
}
@media screen and (min-width: 35rem) {
  .basic-info__summary--primary {
    font-size: var(--fs-600);
    font-weight: 700;
    color: var(--text-highlight-color);
  }
}
.basic-info__summary--highlight {
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--username-color);
  text-decoration: underline;
  position: relative;
  bottom: 1.2rem;
}
@media screen and (min-width: 35rem) {
  .basic-info__summary--highlight {
    bottom: 0.3rem;
  }
}
.basic-info__summary--secondary {
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--text-grayblue-color);
  position: relative;
  bottom: 0.6rem;
}
@media screen and (min-width: 35rem) {
  .basic-info__summary--secondary {
    bottom: 0.3rem;
  }
}
.basic-info__left-content {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.35rem;
}
@media screen and (min-width: 54rem) {
  .basic-info__left-content {
    height: 100%;
  }
}
.basic-info__right-content {
  order: 2;
  align-self: flex-start;
}

.bio {
  margin-top: 2.07rem;
  margin-bottom: 1.45rem;
  padding-inline: 1.5rem;
}
@media screen and (min-width: 54rem) {
  .bio {
    margin-top: 0;
  }
}

.active-stats {
  padding: 1.1rem 0;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background-color: var(--stat-bg-color);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 54rem) {
  .active-stats {
    margin-left: 12rem;
  }
}
.active-stats__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column-reverse;
}
.active-stats__column--small {
  font-size: var(--fs-200);
  font-weight: 400;
  color: var(--text-secondary-color);
  line-height: 1.5625rem;
}
.active-stats__column--bold {
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--text-highlight-color);
  line-height: 2.06rem;
}

.social-info {
  padding-inline: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
  gap: 1.5rem;
  display: grid;
  grid-template-areas: "item1" "item2" "item3" "item4";
}
@media screen and (min-width: 54rem) {
  .social-info {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 45rem) {
  .social-info {
    grid-template-areas: "item1 item3" "item2 item4";
  }
}
.social-info__item:hover > a {
  text-decoration: underline;
}
.social-info__item figure {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.social-info__item > span {
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--text-secondary-color);
}
.social-info__item > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--hyperlink-color);
}
.social-info__item--not-found {
  opacity: 0.5;
  pointer-events: none;
}
.social-info__icon {
  height: 100%;
}
body.dark-mode .social-info__icon {
  filter: invert(0.3) sepia(2) saturate(10) hue-rotate(180deg) brightness(900%);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  border: none;
  background: none;
  padding: 0;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-default-color);
  font-family: "Space Mono", monospace;
  font-size: var(--fs-400);
  line-height: 1.5;
  padding-inline: 2rem;
  padding-bottom: 2.5rem;
  margin-inline: auto;
  max-width: 56rem;
  min-height: 100vh;
  margin-top: 2rem;
}
@media screen and (min-width: 35rem) {
  body {
    padding-inline: 4rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 45rem) {
  body {
    padding-inline: 2rem;
    padding-bottom: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
